.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.input-field {
  width: 100%;
  max-width: 16rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: right;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

button {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

button.zero {
  grid-column: span 2;
}